openapi: 3.2.0
info:
  title: n8n Public Audit Execution API
  description: The n8n public REST API provides programmatic access to n8n instance resources including workflows, executions, credentials, users, tags, variables, projects, source control, audit, data tables, community packages, folders, and insights.
  termsOfService: https://n8n.io/legal/#terms
  contact:
    name: n8n
    url: https://n8n.io/
    email: hello@n8n.io
  license:
    name: Sustainable Use License
    url: https://github.com/n8n-io/n8n/blob/master/LICENSE.md
  version: 1.1.1
servers:
- url: https://app.n8n.cloud/api/v1
  description: n8n Cloud
- url: '{baseUrl}/api/v1'
  description: Self-hosted n8n
  variables:
    baseUrl:
      default: http://localhost:5678
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Execution
  description: Operations about executions
paths:
  /executions:
    get:
      tags:
      - Execution
      summary: Retrieve all executions
      operationId: getExecutions
      description: Retrieve all executions from your instance.
      parameters:
      - name: includeData
        in: query
        schema:
          type: boolean
      - name: status
        in: query
        schema:
          type: string
          enum:
          - error
          - success
          - waiting
      - name: workflowId
        in: query
        schema:
          type: string
      - name: projectId
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: number
          default: 100
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
  /executions/{id}:
    get:
      tags:
      - Execution
      summary: Retrieve an execution
      operationId: getExecution
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      - name: includeData
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Operation successful.
    delete:
      tags:
      - Execution
      summary: Delete an execution
      operationId: deleteExecution
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: Operation successful.
  /executions/{id}/retry:
    post:
      tags:
      - Execution
      summary: Retry an execution
      operationId: retryExecution
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: Operation successful.
  /executions/{id}/stop:
    post:
      tags:
      - Execution
      summary: Stop an execution
      operationId: stopExecution
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: Operation successful.
  /executions/stop:
    post:
      tags:
      - Execution
      summary: Stop multiple executions
      operationId: stopExecutions
      responses:
        '200':
          description: Operation successful.
  /executions/{id}/tags:
    put:
      tags:
      - Execution
      summary: Update tags on an execution
      operationId: updateExecutionTags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: Operation successful.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-N8N-API-KEY
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: n8n API documentation
  url: https://docs.n8n.io/api/
