openapi: 3.2.0
info:
  title: n8n Public Audit Tags API
  description: The n8n public REST API provides programmatic access to n8n instance resources including workflows, executions, credentials, users, tags, variables, projects, source control, audit, data tables, community packages, folders, and insights.
  termsOfService: https://n8n.io/legal/#terms
  contact:
    name: n8n
    url: https://n8n.io/
    email: hello@n8n.io
  license:
    name: Sustainable Use License
    url: https://github.com/n8n-io/n8n/blob/master/LICENSE.md
  version: 1.1.1
servers:
- url: https://app.n8n.cloud/api/v1
  description: n8n Cloud
- url: '{baseUrl}/api/v1'
  description: Self-hosted n8n
  variables:
    baseUrl:
      default: http://localhost:5678
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Tags
  description: Operations about tags
paths:
  /tags:
    post:
      tags:
      - Tags
      summary: Create a tag
      operationId: createTag
      responses:
        '201':
          description: Created
    get:
      tags:
      - Tags
      summary: Retrieve all tags
      operationId: getTags
      parameters:
      - name: limit
        in: query
        schema:
          type: number
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
  /tags/{id}:
    get:
      tags:
      - Tags
      summary: Retrieves a tag
      operationId: getTag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
    delete:
      tags:
      - Tags
      summary: Delete a tag
      operationId: deleteTag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
    put:
      tags:
      - Tags
      summary: Update a tag
      operationId: updateTag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-N8N-API-KEY
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: n8n API documentation
  url: https://docs.n8n.io/api/
