openapi: 3.0.0
info:
  title: n8n Public Audit User API
  description: The n8n public REST API provides programmatic access to n8n instance resources including workflows, executions, credentials, users, tags, variables, projects, source control, audit, data tables, community packages, folders, and insights.
  termsOfService: https://n8n.io/legal/#terms
  contact:
    name: n8n
    url: https://n8n.io/
    email: hello@n8n.io
  license:
    name: Sustainable Use License
    url: https://github.com/n8n-io/n8n/blob/master/LICENSE.md
  version: 1.1.1
servers:
- url: https://app.n8n.cloud/api/v1
  description: n8n Cloud
- url: '{baseUrl}/api/v1'
  description: Self-hosted n8n
  variables:
    baseUrl:
      default: http://localhost:5678
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: User
  description: Operations about users
paths:
  /users:
    get:
      tags:
      - User
      summary: Retrieve all users
      operationId: getUsers
      parameters:
      - name: limit
        in: query
        schema:
          type: number
      - name: cursor
        in: query
        schema:
          type: string
      - name: includeRole
        in: query
        schema:
          type: boolean
      - name: projectId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
    post:
      tags:
      - User
      summary: Create multiple users
      operationId: createUsers
      responses:
        '200':
          description: Operation successful.
  /users/{id}:
    get:
      tags:
      - User
      summary: Get user by ID/Email
      operationId: getUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: includeRole
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Operation successful.
    delete:
      tags:
      - User
      summary: Delete a user
      operationId: deleteUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: User deleted
  /users/{id}/role:
    patch:
      tags:
      - User
      summary: Change a user's global role
      operationId: changeUserRole
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-N8N-API-KEY
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: n8n API documentation
  url: https://docs.n8n.io/api/
