openapi: 3.0.0
info:
  title: n8n Public Audit Projects API
  description: The n8n public REST API provides programmatic access to n8n instance resources including workflows, executions, credentials, users, tags, variables, projects, source control, audit, data tables, community packages, folders, and insights.
  termsOfService: https://n8n.io/legal/#terms
  contact:
    name: n8n
    url: https://n8n.io/
    email: hello@n8n.io
  license:
    name: Sustainable Use License
    url: https://github.com/n8n-io/n8n/blob/master/LICENSE.md
  version: 1.1.1
servers:
- url: https://app.n8n.cloud/api/v1
  description: n8n Cloud
- url: '{baseUrl}/api/v1'
  description: Self-hosted n8n
  variables:
    baseUrl:
      default: http://localhost:5678
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Projects
  description: Operations about projects
paths:
  /projects:
    post:
      tags:
      - Projects
      summary: Create a project
      operationId: createProject
      responses:
        '201':
          description: Created
    get:
      tags:
      - Projects
      summary: Retrieve projects
      operationId: getProjects
      responses:
        '200':
          description: Operation successful.
  /projects/{projectId}:
    delete:
      tags:
      - Projects
      summary: Delete a project
      operationId: deleteProject
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
    put:
      tags:
      - Projects
      summary: Update a project
      operationId: updateProject
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
  /projects/{projectId}/users:
    get:
      tags:
      - Projects
      summary: Get project users
      operationId: getProjectUsers
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
    post:
      tags:
      - Projects
      summary: Add users to a project
      operationId: addProjectUsers
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
  /projects/{projectId}/users/{userId}:
    delete:
      tags:
      - Projects
      summary: Remove a user from a project
      operationId: removeProjectUser
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Removed
    patch:
      tags:
      - Projects
      summary: Change a user's role within a project
      operationId: changeProjectUserRole
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-N8N-API-KEY
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: n8n API documentation
  url: https://docs.n8n.io/api/
