openapi: 3.2.0
info:
  title: n8n Public Audit Credential API
  description: The n8n public REST API provides programmatic access to n8n instance resources including workflows, executions, credentials, users, tags, variables, projects, source control, audit, data tables, community packages, folders, and insights.
  termsOfService: https://n8n.io/legal/#terms
  contact:
    name: n8n
    url: https://n8n.io/
    email: hello@n8n.io
  license:
    name: Sustainable Use License
    url: https://github.com/n8n-io/n8n/blob/master/LICENSE.md
  version: 1.1.1
servers:
- url: https://app.n8n.cloud/api/v1
  description: n8n Cloud
- url: '{baseUrl}/api/v1'
  description: Self-hosted n8n
  variables:
    baseUrl:
      default: http://localhost:5678
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Credential
  description: Operations about credentials
paths:
  /credentials:
    post:
      tags:
      - Credential
      summary: Create a credential
      operationId: createCredential
      description: Creates a credential that can be used by nodes of the specified type.
      responses:
        '200':
          description: Operation successful.
        '401':
          description: Unauthorized
        '415':
          description: Unsupported media type
  /credentials/{id}:
    delete:
      tags:
      - Credential
      summary: Delete credential by ID
      operationId: deleteCredential
      parameters:
      - name: id
        in: path
        required: true
        description: The credential ID.
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /credentials/{id}/test:
    post:
      tags:
      - Credential
      summary: Test a credential
      operationId: testCredential
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
  /credentials/schema/{credentialTypeName}:
    get:
      tags:
      - Credential
      summary: Show credential data schema
      operationId: getCredentialSchema
      parameters:
      - name: credentialTypeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
  /credentials/{id}/transfer:
    put:
      tags:
      - Credential
      summary: Transfer a credential to another project
      operationId: transferCredential
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-N8N-API-KEY
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: n8n API documentation
  url: https://docs.n8n.io/api/
