openapi: 3.2.0
info:
  title: n8n Public Audit Folders API
  description: The n8n public REST API provides programmatic access to n8n instance resources including workflows, executions, credentials, users, tags, variables, projects, source control, audit, data tables, community packages, folders, and insights.
  termsOfService: https://n8n.io/legal/#terms
  contact:
    name: n8n
    url: https://n8n.io/
    email: hello@n8n.io
  license:
    name: Sustainable Use License
    url: https://github.com/n8n-io/n8n/blob/master/LICENSE.md
  version: 1.1.1
servers:
- url: https://app.n8n.cloud/api/v1
  description: n8n Cloud
- url: '{baseUrl}/api/v1'
  description: Self-hosted n8n
  variables:
    baseUrl:
      default: http://localhost:5678
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Folders
  description: Operations about folders
paths:
  /projects/{projectId}/folders:
    get:
      tags:
      - Folders
      summary: List folders in a project
      operationId: listFolders
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
    post:
      tags:
      - Folders
      summary: Create a folder in a project
      operationId: createFolder
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
  /projects/{projectId}/folders/{folderId}:
    get:
      tags:
      - Folders
      summary: Get a folder
      operationId: getFolder
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: folderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
    delete:
      tags:
      - Folders
      summary: Delete a folder
      operationId: deleteFolder
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: folderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
    patch:
      tags:
      - Folders
      summary: Update a folder
      operationId: updateFolder
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: folderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation successful.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-N8N-API-KEY
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: n8n API documentation
  url: https://docs.n8n.io/api/
